.tabs {
	list-style: none;
	position: absolute;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #bbbbbb;
	margin: 0;

	li{
		display: inline-block;
		width: 50%;
		text-align: center;
	}
}

.tabContent, .page__content, .mapsContainer{
	width: 100%;
	//height: calc(100% - 49px) !important;
	> div {
		height: 100%;
		width: 100%;
	}
}